@charset "utf-8";
h1 {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  color: red;
  background-color: #FBFF00;
}

body {
	background-image: url('../images/body.png');
}

.impar{
	background-color: #FFFFCC;
}

.par{
	background-color: #CCFFFF;
}
